<%= button_to "Create a New User", "/register", method: :get %><br>
<%= button_to "Login", "/login", method: :get %>

<section>
  <% if session[:user_id] %>
    <h2>Existing Users:</h2>
    <% @users.each do |user| %>
      <p>
      <%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}" %>
      </p>
    <% end %>
  <% end %>
</section>
